.accordion-title {
  opacity: .3;
}

.table-list-details {
  opacity: .5;
  font-size: .9em;
}

.table-list-details > span {
  opacity: 1;
  font-size: 1.1em;
}




/*  MACHE ICH GGF NOCH, WENN ES MICH DANN STÖRT ODER SO */



/* Buttons, die mir beim Bigboard aufgefallen sind */
.header.btnbox > .btn {
  background-color: transparent;
}
.header.btnbox > .btn:hover {
  color: #7272ab !important;
}