/* Weaken column 1 */

.board-swimlane > td:first-child > div > div {
  opacity: .5;
  filter: saturate(0.6) brightness(1.2);
}
.board-swimlane > td:first-child > div > div:hover {
  opacity: 1;
  filter: saturate(1) brightness(1);
}